BODY
{
background-color:#dddddd;
margin-left:5%;
margin-right:5%;
margin-top:2%;
margin-bottom:2%;
}

#page
{
background-color: white;
outline: #aaaaaa solid thin;
padding:1%;
font-family: arial, helvetica, sans-serif;
}

#page h1
{
font-size: x-large;
color: #FF9933;
}

#navcontainer ul
{
font-size: small;
padding-left: 0;
margin-left: 0;
background-color: #ccc;
color: White;
width: 100%;
}

#navcontainer ul li
{
display: inline;
}

#navcontainer ul li a
{
padding: 0.1em 1.0em;
margin-left: 0.5em;
background-color: #bbb;
color: White;
text-decoration: none;
border: 1px solid #999;
}

#navcontainer ul li a:hover
{
background-color: #eee;
color: black;
}


/* style classes used by webtlsmd.cgi */

.step_title
{
line-height:2.0em;
font-size:large
}
  
.submit_table
{
padding:10px;
border-width:thin;
border-color:blue;
border-style:solid;
background-color:#eeeeee;
}
  
.inner_table
{
font-size:small;
width:90%;
padding:10px;
border-width:thin;
border-color:black;
border-style:solid;
background-color:#dddddd;
}

.inner_title
{
background-color:#ccccff;
line-height:2.0em;
}

.ninner_table
{
font-size:small;
width:95%;
padding:2%;
border-width:thin;
border-color:#aaaaaa;
border-style:solid;
background-color:#eeeeee;
}

.perror
{
text-align: left;
font-size:x-small;
width:70%;
padding:10px;
border-width:thin;
border-color:#ff0000;
border-style:solid;
background-color:#ffaaaa;
}

.status_table
{
background-color:#eeeeee;
font-size:x-small;
border-width:thin;
border-color:#aaaaaa;
border-style:solid;
}

.status_table_head
{
background-color:#aaaadd;
}

.status_table_row1
{
background-color:#dddddd;
}

.status_table_row2
{
background-color:#eeeeee;
}

